//COLORS
$color-white: #fff;
$color-bg-dark: #1f2605;

//ASSETS
$box-shadow-color: rgba(51, 51, 51, 0.452);
$box-shadow-primary: 0 0 5px $box-shadow-color;
$box-shadow-bottom: 0 5px 5px -5px $box-shadow-color;
